/* Developed since: November 2025 */

/* Variables to control vertical whitespace ... */

body {
    --line-height-normal: 1.35;
        /* This variable is provided by Obsidian. */
    --font-size-blank-line: 38%;
        /* Used for blank lines in continuous text.  The actual size in em
         * depends also on the line height; this is intended behaviour. */

    --margin-blank-line: 0.513em;
        /* The *margin* around blocks in *reading mode*, in substitution of
         * adjacent blank lines. */
        /* var(--font-size-blank-line) * var(--line-height-normal) */
        /* Needs to be maintained manually. */
    --p-spacing: var(--margin-blank-line);
}

/* In editing mode, paragraphs are separated by blank lines: */
div.cm-line:has(> br:only-child):not(.HyperMD-codeblock) {
    font-size: var(--font-size-blank-line);
}
div.cm-line.cm-active:has(> br:only-child):not(.HyperMD-codeblock):not(:has(+ .cm-table-widget)) {
    /* This is a blank line which:
     *
     * 1)   Is not part of a code block;
     * 2)   is not preceding a table.
     *
     * Such empty lines shall be resized to 100% when the cursor is inside
     * of them. */
    font-size: 100%;
}
    /* Without further styling, there is a subtle scheme of use:
     *
     *  1.  Complete a headline.
     *  2.  Place a blank line beneath by pressing Enter.
     *  3.  The new blank line will be scaled to 100%, and will receive the
     *      1em `padding-top` from the headlines section (completing the
     *      headline stack).
     *  4.  Press Enter once more.  Now, there are *two* blank lines.
     *  5.  The first blank line has no longer the cursor, and reduces to
     *      ``--font-size-blank-line``, while still maintaining its ``1em``
     *      ``padding-top``.
     *
     * This results in a slight *upwards* motion of the cursor when
     * pressing Enter for the second time.
     *
     * This problem is solved in the *headlines* section. */

div.cm-line:has(> br:only-child):has(+ .cm-table-widget) {
    /* This is a special unavoidable blank line preceding tables.  The
     * previous rule to re-set the ``font-size`` to 100% when being
     * ``.cm-active`` does not apply to these lines, so the
     * ``--font-size-blank-line`` is applied to the line either *with* or
     * *without* having the cursor.  This behaviour is intentional; I like
     * it when the cursor is *reduced in size* while in such a blank line
     * preceding a table. */
    height: 0 !important;
        /* Eliminate the vertical effect of the blank line. */
}

/* Eliminate blank lines directly preceding a display-math block.  This is
 * required to permit separation of such math from a list by a blank line. */
div.cm-line:has(> br:only-child):not(.cm-active):has(+ div.math.math-block) {
    font-size: 0;
}
/* Eliminate blank lines directly preceding a headline.  For blank lines
 * following headlines ``font-size: 100%`` will be specified below,
 * overriding the figure of ``font-size: 0`` given here.
 * */
div.cm-line:has(> br:only-child):not(.cm-active):has(+ div.HyperMD-header) {
    /* Specificity (0, 4, 3). */
    font-size: 0;
}

/* Code elements ... */

body {
    --code-size: 75%;
    --code-1em: 1.33em;
        /* Used to pad *code blocks* by 1em of continuous text.  This is
         * precisely the *inverse* of --code-size.  As a test, --code-1em *
         * --code-size should be 1.0em. */
}

/* Per preset, a vertical margin of ~1em is set.  I cannnot pinpoint the
 * origin.  However, it is overridden here by the separation margin
 * corresponding to blank lines.  N.B. that the ``pre`` element has the
 * *same* font size as the continuous text; the reduction to
 * ``--code-size`` happens in the contained ``code`` element. */
.markdown-preview-view pre {
    margin: var(--margin-blank-line) 0;
}

/* In live mode, we need to override a rule from Obsidian selecting header
 * lines, declaring ``font-size: inherit !important``, which overrides the
 * non-``!important`` styles provided by Obsidian to implement
 * ``--code-size`` */
.cm-editor .cm-content span.cm-header.cm-inline-code {
    font-size: var(--code-size) !important;
}

/* Overflow of code blocks goes beyond Obsidian ... */

/* Headlines ... */

/* Set *margin* around headlines *in reading mode*.  Here, things are
 * rather simple because ``margin`` can be used, which will collapse as
 * needed. */
.markdown-preview-view h1 { margin: 0.62em 0 !important; }
.markdown-preview-view h2 { margin: 0.68em 0 !important; }
.markdown-preview-view h3 { margin: 0.76em 0 !important; }
.markdown-preview-view h4 { margin: 0.84em 0 !important; }
.markdown-preview-view h5 { margin: 0.93em 0 !important; }
.markdown-preview-view h6 { margin: 1.00em 0 !important; }
    /* The ``!important`` is required because in some obscure cases
     * Obsidian adds ``margin-top: var(--heading-spacing);``
     */

/* Implementation of consistent whitespace around headlines in live mode:
 * */
div.inline-title { margin-bottom: 0.62em; }
    /* Choose a ``margin-bottom`` for the inline title similar to h1.  In
     * preview mode, this will collapse with possible margins at the top of
     * the document, and in live mode it will behave as if it was a
     * padding. */
div.HyperMD-header.cm-line { padding-top: 0 !important; }
    /* When the document *starts* with a headline, its ``padding-top``
     * shall vanish (the padding is provided by ``margin-bottom`` of the
     * inline title element located right above it). */
div.HyperMD-header.cm-line + .cm-line { padding-top: 1.00em !important; }
    /* Any (ordinary) .cm-line following a headline shall distance itself
     * by 1em from the headline.  This also matches headlines directly
     * following headlines, where it is overridden by the following rules.
     * */
div.HyperMD-header.cm-line + .cm-line.HyperMD-codeblock { padding-top: var(--code-1em) !important; }
.cm-line + div.HyperMD-header-1.HyperMD-header.cm-line { padding-top: 0.62em !important; }
.cm-line + div.HyperMD-header-2.HyperMD-header.cm-line { padding-top: 0.68em !important; }
.cm-line + div.HyperMD-header-3.HyperMD-header.cm-line { padding-top: 0.76em !important; }
.cm-line + div.HyperMD-header-4.HyperMD-header.cm-line { padding-top: 0.84em !important; }
.cm-line + div.HyperMD-header-5.HyperMD-header.cm-line { padding-top: 0.93em !important; }
.cm-line + div.HyperMD-header-6.HyperMD-header.cm-line { padding-top: 1.00em !important; }
    /* Any headline which *isn't the first line* in the document shall
     * implement its part of headline-related whitespace by setting its
     * ``padding-top``.  The "padding-bottom" for the *last* headline in a
     * stack of headlines is "delegated" to the .cm-line selected in the
     * previous section. */

/* Use empty lines following a headline as spacer, and re-use it also as
 * spacer for following headlines.  However, when the empty cm-line *has
 * the cursor*, then do not match it (treat it effectively as a line with
 * text). */
div.HyperMD-header + div.cm-line:has(> br:only-child):not(.cm-active) {
    /* Specificity (0, 4, 3). */
    font-size: 100%;
    line-height: 1.0;
    padding-top: 0 !important;
}
div.HyperMD-header + div.cm-line:has(> br:only-child):not(.cm-active) + div.HyperMD-header {
    padding-top: 0 !important;
}

/* Set size, weight and variant to the default theme's values: */
body {
    --h1-size: 1.618em;
    --h2-size: 1.462em;
    --h3-size: 1.318em;
    --h4-size: 1.188em;
    --h5-size: 1.076em;
    --h6-size: 1.000em;

    --h1-weight: 600;
    --h2-weight: 600;
    --h3-weight: 600;
    --h4-weight: 600;
    --h5-weight: 600;
    --h6-weight: 600;

    --h1-variant: normal;
    --h2-variant: normal;
    --h3-variant: normal;
    --h4-variant: normal;
    --h5-variant: normal;
    --h6-variant: normal;
}

/* Checklists ... */

body {
    --checklist-done-decoration: none;
    --checkbox-radius: 50%;
        /* Turns the boundary of checkmarks into circles. */
}
