/* Part of Obsidian-Typo v1.0.0 */

/* Developed since: December 2025
 * Based on work dating back to November 2025. */

/* Overall choice of a serif font */


/* In preview mode: */
div.markdown-preview-view {
    --font-text: serif;
}

/* In live mode: */
div.cm-editor {
    --font-text: serif;  /* For the default theme */
    font-family: serif;  /* For kepano's Minimal theme */
}
